* html, * html body/*修正IE6振动bug*/{
	background-image:url(about:blank);
	background-attachment:fixed;
}
a:link {
	text-decoration: none;
	color: #005EAC;
} 
a:visited {
	text-decoration: none;
	color: #005EAC;
} 
a:active {
	text-decoration: none;
	color: #005EAC;
} 
a:hover {
	text-decoration: underline;
	color: #005EAC;
}
body {
	margin: 0px;
	background: url("../images/background.jpg");
}
img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
img.avatar_left {
	width: 130px;
	height: 130px;
}
img.avatar_discusslist {
	width: 50px;
	height: 50px;
}
img.avatar_discusslist_reply {
	width: 30px;
	height: 30px;
}
img.avatar_showdiscuss {
	width: 100px;
	height: 100px;
}
img.avatar_showdiscuss_reply {
	width: 50px;
	height: 50px;
}
img.avatar_userinfo {
	width: 100px;
	height: 100px;
}
span.nav_board_zero {
	font-size: 12px;
	font-weight: normal;
	color: #005EAC;
	padding: 2px;
	background-color: rgb(0, 114, 206);
}
span.nav_board_other {
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	padding: 2px;
	background-color: rgb(245, 98, 0);
}
span.nav_contest_zero {
	font-size: 12px;
	font-weight: normal;
	color: #005EAC;
	padding: 2px;
	background-color: rgb(0, 114, 206);
}
span.nav_contest_other {
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	padding: 2px;
	background-color: rgb(245, 98, 0);
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px auto;
}
tr, td {
	padding: 0px;
}
ul, li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.bottom-bar-grad {
	background-image: url(../images/grad.png);
	bottom: 0px;
	right: 0px;
	display: block;
	height: 50px;
	position: fixed;
	width: 100px;
	_position:absolute;
	_right:auto;
	_left: expression(eval(document.documentElement.scrollLeft + document.documentElement.clientWidth - this.offsetWidth) - (parseInt(this.currentStyle.marginLeft, 0) || 0) - (parseInt(this.currentStyle.marginRight, 0) || 0) - 0);
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,0)||0)-(parseInt(this.currentStyle.marginBottom,0)||0)) - 0);
}
.bottom-bar {
	bottom: 0px;
	display: block;
	height: 50px;
	position: fixed;
	width: 100%;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 0)||0)-(parseInt(this.currentStyle.marginBottom,0)||0)) - 0);
}
.bottom-bar-left {
	height: 50px;
	width: 10px;
}
.bottom-bar-right {
	height: 50px;
	width: 10px;
}
.bottom-bar-center {
	background-color: #F0F5F8;
	border-top-color: #CEE1EE;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: #CEE1EE;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CEE1EE;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	overflow: hidden;
}
.bottom-bar-center .bottom-bar-inner {
	height: 50px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table {
	
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table .bottom-bar-inner-table-td {
	border-right-color: #CEE1EE;
	border-right-style: solid;
	border-right-width: 1px;
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table .bottom-bar-inner-table-blink {
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table .bottom-bar-inner-table-td .bottom-bar-inner-table-left {
	padding: 5px;
	vertical-align: top;
	width: 30px;
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table .bottom-bar-inner-table-td .bottom-bar-inner-table-right {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}
.bottom-bar-center .bottom-bar-inner .bottom-bar-inner-table .bottom-bar-inner-table-td .bottom-bar-inner-table-right .bottom-bar-inner-table-right-time {
	color: #888;
}
#copyright {
	border-top-color: #CEE1EE;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 110px;
	width: 980px;
}
#copyright td {
	color: #888;
	font-size: 12px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
#copyright .bottom_left {
	text-align: left;
}
#copyright .bottom_right {
	text-align: right;
}
#copyright .server {
	color: #090;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: center;
}
#navigation {
	height: 35px;
	width: 980px;
	background-color: #005EAC;
}
#navigation a {
	outline: none;
}
#navigation .nav_button {
	padding: 0px 0px;
	line-height: 35px;
}
#navigation .nav_button_first {
	padding-left: 10px;
	line-height: 35px;
}
#navigation .nav_button a, #navigation .nav_button_first a {
	color: #ffffff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px;
}
#navigation .nav_button a:hover, #navigation .nav_button_first a:hover {
	background-color: rgb(55, 119, 188);
	text-decoration: none;
}
#navigation .nav_button_other {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 35px;
	padding: 0px;
	padding-right: 5px;
	white-space: nowrap;
}
#navigation .nav_button_other_contest{
	font-size: 12px;
	padding: 0px;
	line-height: 35px;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}
#navigation .nav_button_other_last {
	padding-right: 10px;
	line-height: 35px;
}
#navigation .nav_button_other a, #navigation .nav_button_other_last a {
	color: #ffffff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 0px 5px;
}
#navigation .nav_button_other a:hover, #navigation .nav_button_other_last a:hover {
	background-color: rgb(55, 119, 188);
	text-decoration: none;
}
#navigation .nav_search_btn {
	padding-left: 1px;
	padding-right: 15px;
}
#navigation .nav_search_img {
	height: 21px;
	width: 21px;
	vertical-align: middle;
}
#navigation .search-input {
	color: rgb(150, 150, 150);
	height: 15px;
	width: 150px;
	vertical-align: middle;
}
#left_navigation {
	border-top: 1px solid #CEE1EE;
	border-bottom: 1px solid #CEE1EE;
	margin-bottom: 5px;
	width: 147px;
}
#left_navigation .left_nav_button {
	background-image: url(../images/switch.png);
	background-position: 6px 50%;
	background-repeat: no-repeat;
	padding: 0px 0px;
	height: 26px;
}
#left_navigation .left_nav_button a {
	color: #333;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	padding-left: 20px;
	text-align: left;
}
#left_navigation .left_nav_button a:hover {
	background-color: rgb(206, 225, 238);
	text-decoration: none;
}
#to-top {
	position: fixed;
	bottom: 60px;
	right: 10px;
	width: 50px;
	height: 50px;
	display: none;
	_position:absolute;
	_right:auto;
	_left: expression(eval(document.documentElement.scrollLeft + document.documentElement.clientWidth - this.offsetWidth) - (parseInt(this.currentStyle.marginLeft, 10) || 0) - (parseInt(this.currentStyle.marginRight, 10) || 0) - 10);
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,60)||0)-(parseInt(this.currentStyle.marginBottom,60)||0)) - 60);
}
#to-top a {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	outline: none;
}
#to-top a {
	background: url("../images/back-top.png") 0px 0px no-repeat;
}
#to-top a:hover {
	background-position: -50px 0px;
}
.ac_color{
	color : #00af00;
}
.unac_color{
	color : #ff0000;
}
.alert_div {
	width: 600px;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.board_table_header {
	background: #F0F5F8;
	height: 32px;
	margin-top: 20px;
	width: 790px;
}
.board_table_header .board_table_header_left {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
}
.board_table_header .board_table_header_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: right;
	vertical-align: top;
}
.board_table_header .board_table_header_right a {
	color: #333;
}
.board_table_body {
	width: 790px;
}
.board_table_body .board_table_body_row {
}
.board_table_body .board_table_body_row_left {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	vertical-align: top;
	width: 120px;
}
.board_table_body .board_table_body_row_left .board_table_body_info_left {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	width: 30px;
}
.board_table_body .board_table_body_row_left .board_table_body_info_right {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: right;
	width: 70px;
}
.board_table_body .board_table_body_row_right {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-top: 10px;
	vertical-align: top;
	width: 670px;
}
.board_table_body .board_table_body_row_bottom {
	border-bottom-color: #CEE1EE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 790px;
}
.board_table_body .board_table_body_row_right .board_table_body_info {
	width: 670px;
}
.board_table_body .board_table_body_row_right .board_table_body_info .board_table_body_info_top_left {
	color: #005EAC;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 5px;
	text-align: left;
	width: 630px;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
}
.board_table_body .board_table_body_row_right .board_table_body_info .board_table_body_info_top_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: right;
	vertical-align: top;
	width: 40px;
}
.board_table_body .board_table_body_row_right .board_table_body_info .board_table_body_info_content {
	border-top-color: #EDEDED;
	border-top-style: solid;
	border-top-width: 1px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 670px;
}
.board_table_body .board_table_body_row_right .board_table_body_info .board_table_body_info_content .board_table_body_info_content_inner {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	min-height: 100px;
	overflow-x: auto;
	overflow-y: visible;
	text-align: left;
	vertical-align: top;
	width: 660px;
	word-break: break-all;
	word-wrap: break-word;
}
.board_table_body .board_table_body_row_right .board_table_body_info .board_table_body_info_bottom {
	padding-top: 5px;
	text-align: left;
	width: 670px;
	word-break: break-all;
	word-wrap:break-word;
}
.body_table {
	text-align: center;
	vertical-align: top;
	width: 980px;
}
.body_table .left_table {
	border-right-color: #CEE1EE;
	border-right-style: solid;
	border-right-width: 1px;
	padding-top: 5px;
	padding-bottom: 25px;
	vertical-align: top;
	width: 147px;
}
.body_table .right_table {
	vertical-align: top;
	width: 832px;
}
.body_table .right_table_alert {
	vertical-align: middle;
	width: 832px;
}
.body_table .right_table_contest_list {
	vertical-align: top;
	width: 832px;
}


.body_table .right_table_login {
	vertical-align: middle;
	width: 832px;
}
.body_table .right_table_register {
	vertical-align: middle;
	width: 832px;
}
.body_table .right_table_submit {
	padding-top: 15px;
	vertical-align: top;
	width: 832px;
}
.button_table {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.contest_time_info {
	color: #00aa00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.count_down_table {
	margin: 10px auto 35px auto;
}
.count_down_table td {
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	font-size: 16px;
	font-weight: bold;
}
.icpc {
	height: 40px;
}
.input_user {
	width: 150px;
}
.index_slides {
	overflow: hidden;
	width: 790px;
	height: 370px;
}
.index_slides ul {
	width: 4000px;
}
.index_slides ul li {
	float: left;
}
.next2 {
	background: url(../images/focus.gif) no-repeat -243px -669px;
	cursor: pointer;
	display: inline-block;
	height: 77px;
	margin-top: 56px;
	opacity: 0.85;
	position: absolute;
	right: 9px;
	top: 0px;
	width: 34px;
	z-index: 10;
}
.prev2 {
	background: url(../images/Focus1.gif) no-repeat -209px -669px;
	cursor: pointer;
	display: inline-block;
	height: 77px;
	left: 9px;
	margin-top: 56px;
	opacity: 0.85;
	position: absolute;
	top: 0px;
	width: 34px;
	z-index: 10;
}
.index_slides_nav {
	border-top: 1px solid #CEE1EE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	height: 17px;
}
.index_slides_nav a {
	background: url(../images/focus.gif);
	display: inline-block;
	height: 17px;
	width: 18px;
}
.index_slides_nav a.play {
	background-position: -20px 0px;
	display: none;
}
.index_slides_nav a.stop {
	background-position: -40px 0px;
	display: inline-block;
}
.index_slides_nav a.next {
	background-position: -60px 0px;
}
.index_slides_nav a.prev:hover {
	background-position: -122px 0;
}
.index_slides_nav a.play:hover {
	background-position: -142px 0;
}
.index_slides_nav a.stop:hover {
	background-position: -162px 0;
}
.index_slides_nav a.next:hover {
	background-position: -182px 0;
}
.left_mod {
	font-family: Arial, Helvetica, sans-serif;
	width: 147px;
}
.left_mod .left_mod_header {
	border-top: 1px solid #CEE1EE;
	border-bottom: 1px solid #CEE1EE;
	background: #F0F5F8;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	text-align: left;
}
.left_mod .left_mod_header a {
	color: #005EAC;
	font-weight: normal;
	text-decoration: none;	
}
.left_mod .left_mod_body {
	background: transparent;
	color: #333;
	font-size: 12px;
	padding: 5px;
}
.left_mod .left_mod_body a {
	color: #005EAC;
}
.left_mod .left_mod_body a:hover {
	text-decoration: underline;
}
.left_info {
	background: #ECEFF5;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 147px;
}
.left_info .left_info_left {
	color: gray;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	height: 14px;
	padding: 3px;
	text-align: left;
	width: 40px;
}
.left_info .left_info_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	height: 14px;
	padding: 3px;
	text-align: right;
	word-break: break-all;
	word-wrap: break-word;
}
.left_inner_row {
	height: 20px;
}
.left_nick_name {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.login_table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 250px;
}
.login_table .login_table_row_height {
	height: 30px;
}
.login_table .login_table_row_error {
	height: 30px;
	color: red;
}
.login_bottom {
	text-align: center;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.message_thread_publish {
	background-color: #F0F5F8;
	border: 1px solid #CEE1EE;
	width: 790px;
}
.message_thread_publish .message_thread_publish_header {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	width 790px;
}
.message_thread_publish .message_thread_publish_title {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.message_thread_publish .message_thread_publish_button_left {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 670px;
}
.message_thread_publish .message_thread_publish_button_middle {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.message_thread_publish .message_thread_publish_button_right {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.message_thread_publish .message_thread_publish_content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.message_thread_table {
	border-bottom-color: #E3EEF8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 10px;
	width: 790px;
}
.message_thread_table .message_thread_table_left {
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 60px;
}
.message_thread_table .message_thread_table_right {
	vertical-align: top;
	padding-bottom: 10px;
	width: 730px;
}
.message_thread_table .message_thread_table_right .message_thread_table_info {
	width: 730px;
}
.message_thread_table .message_thread_table_right .message_thread_table_info .message_thread_table_info_top {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	padding-bottom: 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.message_thread_table .message_thread_table_right .message_thread_table_info .message_thread_table_info_content {
	background: #F7F7F7;
	border: 1px solid #EDEDED;
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding: 8px 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.message_thread_table .message_thread_table_right .message_thread_table_info .message_thread_table_info_bottom {
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.message_thread_table .message_thread_table_right .message_thread_table_info .message_thread_table_info_bottom .message_thread_table_info_bottom_problem {
	color: #888;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply {

}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_show_reply {
	background-color: #F3FAFF;
	border-bottom-color: #E6EFF7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 730px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_show_reply .message_thread_table_show_reply_left {
	padding: 5px;
	vertical-align: top;
	width: 30px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_show_reply .message_thread_table_show_reply_right {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
	width: 690px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .messaeg_thread_table_show_reply .message_thread_table_show_reply_right .message_thread_table_show_reply_right_time {
	color: #888;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_submit_reply {
	background-color: #F3FAFF;
	border-bottom-color: #E6EFF7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 0px;
	width: 730px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_submit_reply .message_thread_table_submit_reply_left {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 680px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_submit_reply .message_thread_table_submit_reply_left .reply-input {
	width: 660px;
}
.message_thread_table .message_thread_table_right .message_thread_table_reply .message_thread_table_submit_reply .message_thread_table_submit_reply_right {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 45px;
}
.message_board_table_header {
	background: #F0F5F8;
	height: 32px;
	margin-top: 20px;
	width: 790px;
}
.message_board_table_header .message_board_table_header_left {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
}
.message_board_table_header .message_board_table_header_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: right;
	vertical-align: top;
}
.message_board_table_header .message_board_table_header_right a {
	color: #333;
}
.message_board_table_body {
	width: 790px;
}
.message_board_table_body .message_board_table_body_row {
}
.message_board_table_body .message_board_table_body_row_left {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
	vertical-align: top;
	width: 120px;
}
.message_board_table_body .message_board_table_body_row_left .message_board_table_body_info_left {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
	width: 30px;
}
.message_board_table_body .message_board_table_body_row_left .message_board_table_body_info_right {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: right;
	width: 70px;
}
.message_board_table_body .message_board_table_body_row_right {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-top: 10px;
	vertical-align: top;
	width: 670px;
}
.message_board_table_body .message_board_table_body_row_bottom {
	border-bottom-color: #CEE1EE;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 790px;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info {
	width: 670px;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info .message_board_table_body_info_top_left {
	color: #005EAC;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 5px;
	text-align: left;
	width: 630px;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info .message_board_table_body_info_top_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: right;
	vertical-align: top;
	width: 40px;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info .message_board_table_body_info_content {
	border-top-color: #EDEDED;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #EDEDED;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 670px;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info .message_board_table_body_info_content .message_board_table_body_info_content_inner {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	min-height: 100px;
	overflow-x: auto;
	overflow-y: visible;
	text-align: left;
	vertical-align: top;
	width: 660px;
	word-break: break-all;
	word-wrap: break-word;
}
.message_board_table_body .message_board_table_body_row_right .message_board_table_body_info .message_board_table_body_info_bottom {
	padding-top: 5px;
	text-align: left;
	width: 670px;
	word-break: break-all;
	word-wrap:break-word;
}
.message_navi {
	margin-top: 10px;
	margin-bottom: 10px;
}
.message_navi td {
	color: #1A5CC8;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
.mod {
	border: 1px solid #CEE1EE;
	font-family: Arial, Helvetica, sans-serif;
}
.mod .mod-header {
	background: #F0F5F8;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	text-align: left;
}
.mod .mod-header a {
	color: #005EAC;
	font-weight: normal;
	text-decoration: none;	
}
.mod .mod-body {
	background: transparent;
	color: #333;
	font-size: 12px;
	padding: 10px;
}
.mod .mod-body a {
	color: #005EAC;
}
.mod .mod-body a:hover {
	text-decoration: underline;
}
.news_table{
	padding-top:10px;
	padding-bottom:10px;
	border-top-width: 1px;
	border-top-style:dashed;
	border-top-color:#CCC;
	font-family:Georgia, "Times New Roman", Times, "宋体" serif;
	width: 95%;
}
.news_table .news_top_left{
	word-wrap: break-word; 
	word-break:break-all;
	overflow:auto;
	padding-top:10px;
	padding-bottom:10px;
	font-family:Georgia, "Times New Roman", Times, "宋体" serif;
	text-align:left;
}
.news_table .news_top_right{
	word-wrap: break-word; 
	word-break:break-all;
	overflow:auto;
	padding-top:10px;
	padding-bottom:10px;
	font-family:Georgia, "Times New Roman", Times, "宋体" serif;
	text-align:right;
}
.news_table .news_bottom{
	word-wrap: break-word; 
	word-break:break-all;
	overflow:auto;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
	font-family:Georgia, "Times New Roman", Times, "宋体" serif;
}
.next_page_table {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.rank_comment {
	color: #00AA00;
}
.rank_ac {
	background-color: green;
	color: white;
}
.rank_fb {
	background-color: #43CD80;
	color: white;
}
.rank_wa {
	background-color: red;
	color: white;
}
.ojlistrank {
	border-collapse: separate;
	border-spacing: 1px;
	border-style: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
.ojlistrank .ojlistrank-header {
}
.ojlistrank .ojlistrank-header td {
	background-color: #005EAC;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
.ojlistrank .ojlistrank-row0 td {
	background-color: transparent;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.ojlistrank .ojlistrank-row1 td {
	background-color: #E9EFF8;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.ojlistrank .ojlistrank-rowred td {
	background-color: rgb(255, 128, 255);
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
}
.ojlist {
	border-collapse: separate;
	border-spacing: 1px;
	font-family: Arial, Helvetica, sans-serif;
}
.ojlist .ojlist-header {
}
.ojlist .ojlist-header td {
	background-color: #005EAC;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.ojlist .ojlist-row0 td {
	background-color: transparent;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.ojlist .ojlist-row1 td {
	background-color: #E9EFF8;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.ojlist .problemset-row0 td {
	background-color: transparent;
	font-size: 13px;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.ojlist .problemset-row1 td {
	background-color: #E9EFF8;
	font-size: 13px;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
.ojtitle {
	color: #1A5CC8;
	font-family: 'Times New Roman';
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.previous_page_table {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.print_publish {
	background-color: #F0F5F8;
	border: 1px solid #CEE1EE;
	width: 790px;
}
.print_publish .print_publish_header {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	width 790px;
}
.print_publish .print_publish_title {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.print_publish .print_publish_button_left {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 670px;
}
.print_publish .print_publish_button_middle {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.print_publish .print_publish_button_right {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.print_publish .print_publish_content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.problem_mod {
	border: 1px solid #CEE1EE;
	background: #F0F5F8;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	width: 790px;
}
.problem_mod .problem_mod_name {
	color: #1A5CC8;
	font-family: 'Times New Roman';
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.problem_mod .problem_mod_title {
	color: #7CA9ED;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	width: 770px;
}
.problem_mod .problem_mod_content {
	font-family:courier new,courier,monospace;
	font-size: 13px;
	padding: 10px 10px;
	text-align: left;
	table-layout: fixed;
	width: 770px;
	word-break: break-all;
	word-wrap:break-word;
}
.problem_mod .problem_mod_info {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
}
.problem_mod td {
	padding: 3px 10px;
}
.problem_mod .problem_mod_info .problem_mod_info_user {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.problem_mod .problem_mod_info .problem_mod_info_sj_no {
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
}
.problem_mod .problem_mod_info .problem_mod_info_sj_yes {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}
.problem_search {
	font-family: 'Times New Roman';
	font-size: 16px;
}
.rank_navi {
	margin-top: 10px;
	margin-bottom: 10px;
}
.rank_navi td {
	color: #1A5CC8;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
.rank_auto_refresh {
	color: #888;
	font-family: Arial;
	font-size: 13px;
}
.register_table {
	width: 300px;
}
.register_table .register_table_row_height {
	height: 30px;
}
.register_table .register_table_row_height td {
	text-align: left;
}
.register_table .register_table_row_error {
	height: 30px;
	color: red;
}
.register_bottom {
	text-align: center;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.reply_navi {
	margin-top: 10px;
	margin-bottom: 10px;
}
.reply_navi td {
	color: #1A5CC8;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}
.showcode_mod {
	border: 1px solid #CEE1EE;
	background: #F0F5F8;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	width: 790px;
}
.showcode_mod pre {
	font-family: Courier New, Courier, monospace;
	font-size: 12px;
	overflow:auto;
	text-align: left;
	word-break: break-all;
	word-wrap:break-word;
}
.showcode_mod .showcode_mod_name {
	color: #1A5CC8;
	font-family: 'Times New Roman';
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.showcode_mod .showcode_mod_content {
	padding-left: 10px;
	padding-right: 10px;
}
.showcode_mod .showcode_mod_info {
	color: green;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.showcode_mod .showcode_mod_info td {
	text-align: left;
	width: 200px;
}
.showcode_mod .showcode_mod_bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
.statistic_table {
	border: 1px solid #1A5CC8;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: 97px;
	width: 200px;
}
.statistic_table a {
	color: #ffffff;
}
.statistic_table tr {
	height: 17px;
}
.statistic_table .statistic_table_left {
	background: #1A5CC8;
	border: 1px solid #1A5CC8;
	padding-right: 2px;
	text-align: right;
	width: 160px;
} 
.statistic_table .statistic_table_right {
	background: orange;
	border: 1px solid #1A5CC8;
	text-align: center;
}
.status_search {
	font-family: 'Times New Roman';
	font-size: 16px;
}
.stop_rank_time {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.submit_code_bottom {
	text-align: center;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.reply_publish {
	background-color: #F0F5F8;
	border: 1px solid #CEE1EE;
	width: 790px;
	margin-bottom:15px;
}
.reply_publish .reply_publish_left {
	padding: 10px;
	vertical-align: top;
	width: 70px;
}
.reply_publish .reply_publish_right {
	vertical-align: top;
	width: 720px;
}
.reply_publish .reply_publish_right_table {
	width: 720px;
}
.reply_publish .reply_publish_right .reply_publish_right_table .reply_publish_right_top {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	width: 720px;
}
.reply_publish .reply_publish_right .reply_publish_right_table .reply_publish_right_content {
	padding-right: 10px;
	width: 720px;
}
.reply_publish .reply_publish_right .reply_publish_right_table .reply_publish_right_bottom_left {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 60px;
}
.reply_publish .reply_publish_right .reply_publish_right_table .reply_publish_right_bottom_right {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: left;
	width: 660px;
}
.thread_publish {
	background-color: #F0F5F8;
	border: 1px solid #CEE1EE;
	width: 790px;
}
.thread_publish .thread_publish_header {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	width 790px;
}
.thread_publish .thread_publish_title {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.thread_publish .thread_publish_button_left {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 670px;
}
.thread_publish .thread_publish_button_middle {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.thread_publish .thread_publish_button_right {
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: right;
	width: 60px;
}
.thread_publish .thread_publish_content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 790px;
}
.thread_table_submit_reply_form {}
.thread_table {
	border-bottom-color: #E3EEF8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-top: 10px;
	width: 790px;
}
.thread_table .thread_table_left {
	vertical-align: top;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 60px;
}
.thread_table .thread_table_right {
	vertical-align: top;
	padding-bottom: 10px;
	width: 730px;
}
.thread_table .thread_table_right .thread_table_info {
	width: 730px;
}
.thread_table .thread_table_right .thread_table_info .thread_table_info_top {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	padding-bottom: 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.thread_table .thread_table_right .thread_table_info .thread_table_info_content {
	background: #F7F7F7;
	border: 1px solid #EDEDED;
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding: 8px 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.thread_table .thread_table_right .thread_table_info .thread_table_info_bottom {
	color: #888;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	width: 730px;
	word-break: break-all;
	word-wrap:break-word;
}
.thread_table .thread_table_right .thread_table_info .thread_table_info_bottom .thread_table_info_bottom_problem {
	color: #888;
}
.thread_table .thread_table_right .thread_table_reply {

}
.thread_table .thread_table_right .thread_table_reply .thread_table_show_reply {
	background-color: #F3FAFF;
	border-bottom-color: #E6EFF7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 730px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_show_reply .thread_table_show_reply_left {
	padding: 5px;
	vertical-align: top;
	width: 30px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_show_reply .thread_table_show_reply_right {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
	word-wrap:break-word;
	width: 690px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_show_reply .thread_table_show_reply_right .thread_table_show_reply_right_time {
	color: #888;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_submit_reply {
	background-color: #F3FAFF;
	border-bottom-color: #E6EFF7;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 0px;
	width: 730px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_submit_reply .thread_table_submit_reply_left {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 680px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_submit_reply .thread_table_submit_reply_left .reply-input {
	width: 660px;
}
.thread_table .thread_table_right .thread_table_reply .thread_table_submit_reply .thread_table_submit_reply_right {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 45px;
}
.user_search {
	font-family: 'Times New Roman';
	font-size: 16px;
}
.userinfo_header {
	border-bottom-color: #A0BEDC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
	width: 790px;
}
.userinfo_header .userinfo_header_left {
	color: #F60;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 10px;
	text-align: left;
}
.userinfo_header .userinfo_header_center {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-left: 0px;
	padding-right: auto;
	text-align: left;
}
.userinfo_header .userinfo_header_right {
	text-align: right;
}
.userinfo_body {
	width: 790px;
}
.userinfo_body .userinfo_body_left {
	vertical-align: top;
	width: 140px;
}
.userinfo_body .userinfo_body_left .userinfo_simple {
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	width: 140px;
}
.userinfo_body .userinfo_body_left .userinfo_simple tr {
	border-bottom-color: #D8DFEA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.userinfo_body .userinfo_body_left .userinfo_simple .userinfo_simple_left {
	border-bottom-color: #D8DFEA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}
.userinfo_body .userinfo_body_left .userinfo_simple .userinfo_simple_right {
	border-bottom-color: #D8DFEA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: right;
}
.userinfo_body .userinfo_body_left .userinfo_detail {
	margin-top: 10px;
	background-color: #ECEFF5;
	width: 340px;
}
.userinfo_body .userinfo_body_left .userinfo_detail .userinfo_detail_left {
	color: gray;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	width: 60px;
	text-align: left;
}
.userinfo_body .userinfo_body_left .userinfo_detail .userinfo_detail_right {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	text-align: right;
}
.userinfo_body .userinfo_body_right {
	padding-left: 10px;
	vertical-align: top;
	width: 450px;
}
.userinfo_body .userinfo_body_right .userinfo_board {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	height: 100px;
	width: 620px;
}
.userinfo_body .userinfo_body_right .userinfo_board .userinfo_board_left {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.userinfo_body .userinfo_body_right .userinfo_board .userinfo_board_right {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}
.userinfo_body .userinfo_body_right .userinfo_work {
	color: #333;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
	font-size: 12px;
	height: 100px;
	width: 420px;
}
.userinfo_body .userinfo_body_right .userinfo_work .userinfo_work_left {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	width: 50px;
}
.userinfo_body .userinfo_body_right .userinfo_work .userinfo_work_center {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
.userinfo_body .userinfo_body_right .userinfo_work .userinfo_work_right {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}
a.link_button_small {
	background: #FAFAFA;
	border: 1px solid gray;
	color: #005EAC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 2px 0px;
	width: 40px;
}
a.link_button_small:hover {
	color: red;
}
a.link_button {
	background: #FAFAFA;
	border: 1px solid gray;
	color: #005EAC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 2px 0px;
	width: 90px;
}
a.link_button:hover {
	color: red;
}
a.link_button_hide {
	background: #FAFAFA;
	border: 1px solid gray;
	color: #005EAC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 2px 0px;
	width: 60px;
}
a.link_button_hide:hover {
	color: red;
}
a.link_button_publish {
	background: #FAFAFA;
	border: 1px solid gray;
	color: #005EAC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 2px 0px;
	width: 60px;
}
a.link_button_publish:hover {
	color: red;
}
a.link_button_reply {
	background: #FAFAFA;
	border: 1px solid gray;
	color: #005EAC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 2px 0px;
	width: 40px;
}
a.link_button_reply:hover {
	color: red;
}
